@tailwind base;
@tailwind components;
@tailwind utilities;

.full-height-minus-5rem {
  height: calc(100vh - 5rem);
}
.min-height-minus-5rem {
  min-height: calc(100vh - 5rem);
}

@keyframes rotateInDownRight {
  from {
    transform: translate(50%, 10%) rotate(0deg);
    opacity: 0;
  }
  to {
    transform: translate(0, 0) rotate(-25deg);
    opacity: 1;
  }
}

.animate-rotate-in-down-right {
  animation: rotateInDownRight 1s ease-in-out forwards;
}
